<style>
nav a {
  color: black;
}

nav li {
  display: inline;
  padding: 20px;
}
nav li:hover {
  background-color: lightgrey;
  cursor: pointer;
  transition: 1s;
}
.spacer {
  height: 20px;
}

main {
  display: grid;
  place-items: center;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
}
.container img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
}
.container img:hover {
  transform: scale(1.04);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
</style>
